doctype html
html
    head
        title Recipe book
        base(href="/")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src="lib/jquery-3.2.1.min.js")

        link(href="styles/bootstrap.min.css", rel="stylesheet")
        link(href="styles/style.css", rel="stylesheet")
        script(src="lib/bootstrap.min.js")

        script(src="node_modules/core-js/client/shim.min.js")

        script(src="node_modules/zone.js/dist/zone.js")
        script(src="node_modules/systemjs/dist/system.src.js")

        script(src="systemjs.config.js")
        script.
            System.import('app/main').catch(function(err){ console.error(err); });
    body
        app Loading...