.container
    p.
        The recipes page displays a paginated list of recipes. Each recipe can be viewed on its own separate page by expanding it and clicking on its View button. It also has an Edit button which opens a modal with the recipe's editable propertis when clicked and a Delete button which opens a modal to confirm the delete action. Outside the list is the Add recipe button which opens a modal similar to one used for editing recipes.
    p.push-top.
        The drinks page displays a list of drinks in a table. The user can sort the drinks by clicking on each of its properties at the table head. There is also the search input which can be used to filter the list of recipes to display only the recipes which contain the value of the input in one or more of its text properties.