nav.navbar.navbar
  .container-fluid
    .collapse.navbar-collapse
      .pull-left
        h3 Recipe Book
      ul.nav.navbar-nav.pull-right
        li
            a(routerLink="/drinks", routerLinkActive="active") Drinks
        li
            a(routerLink="/recipes", routerLinkActive="active") Recipes

.container
  router-outlet