nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navigation', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            |  
            a.navbar-brand(routerLink="/") Recipe Book
        #navigation.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(routerLink="/drinks", routerLinkActive="active") Drinks
                li
                    a(routerLink="/recipes", routerLinkActive="active") Recipes

.container
    router-outlet