h4 {{recipe.name}}
    button.btn.btn-default.pull-right(type="button", data-toggle="collapse", attr.data-target="#{{recipe.id}}", aria-expanded="false", attr.aria-controls="{{recipe.id}}")
        span.glyphicon.glyphicon-triangle-bottom(aria-hidden="true")
.collapse(id="{{recipe.id}}")
    p
        strong.
            Ingredients: 
        | {{recipe.ingredients}}
    p
        strong.
            Directions: 
        | {{recipe.directions}}
    button.btn.btn-primary(data-toggle="modal", data-target="#addRecipeModal", (click)="editRecipe()")
        span.glyphicon.glyphicon-edit(aria-hidden="true")
    button.btn.btn-danger(data-toggle="modal", data-target="#confirmDeleteModal", (click)="deleteRecipe()")
        span.glyphicon.glyphicon-remove(aria-hidden="true")
    button.btn.btn-info.pull-right((click)="onSelect()") View

confirm-delete([deleteId]="DELETEID", [listId]="listId")